<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("bootstrap") %>
    <title>FileDrive</title>
</head>
<body>
    <%- include("header") %>
    <div class="home-body">
        <h2>Welcome to FileDrive</h2>
        <p>Safe and secure storage for all your files.</p>
    </div>
</body>
</html>