<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("bootstrap") %>
    <title>Login - FileDrive</title>
</head>
<body>
    <%- include("header") %>
    <form action="" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" required id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <% if (error) { %>
        <p><%= error %></p>
        <% } %>
    </form>
</body>
</html>